.feinman {
    min-height: 790px;
    padding-top: 80px;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
    flex-direction: column;
    align-items: center;
    background-image: url(../../images/feynman.png);
    background-size: 867px 637px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }