.header__main-illustration {
    width: 765px;
    height: 608px;
    display: flex;
    /* ниже написано расположение картинки */
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }